/*MOBILE VIEW*/
#img-text {
    text-align: center;
    color: white;
    grid-row: 3/4;
    grid-column: 1/3;
    padding-left: 2em;
}

#img-text h1 {
    padding: .3em;
    font-size: 8em;
}
#img-text h2 {
    padding: .3em;
    font-size: 2em;
}

.menu-toggle {
    color: white;
}

.photo-content {
    width: 80%;
    grid-area: abt;
    display: grid;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.content-box {
    grid-column: 2/3;
    margin: 1em;
    padding: 1em;
    width: 260px;
    height: auto;
    background-color: lightgrey;
    border-radius: .4em;
    border-color: dimgray;
    border: solid 1px;
}

.content-box h2{
    padding-left: 1em;
    text-align: left;
}

.content-box img {
    width: 95%;
    padding: .3em;
}

#tag {
    padding-left: 1.8em;
    text-transform: uppercase;
    text-align: left;
}

.text-content {
    padding: .5em;
}

@media screen and (min-width: 600px) {
    .content-box {
        width: 400px;
    }
}
@media screen and (min-width: 900px) {
    .content-box {
        width: 600px;
    }

    .content-box h2{
        padding-left: 1.2em;
        text-align: left;
    }

    #tag {
        padding-left: 2em;
    }

    .text-content {
        padding: .5em;
    }
}
@media screen and (min-width: 1200px) {
    .content-box {
        width: 800px;
    }

    #tag {
        padding-left: 2em;
    }

    .text-content {
        padding: .5em;
    }
}